/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/



.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  background-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;

  --title-color: #DB00FF;
  --font-color: #F1B2CE;
  --accent-color: #FF0070;
  --main__section-title-color: #FF0070;

  .header__rec{
    display: block;
  }
}



:root.theme_dark {
  /* Дублируем переменные для тёмной темы */

  --background-image: url("../images/cover-image-dark.png");
  --bg-color: #000028;

  --title-color: #DB00FF;
  --font-color: #F1B2CE;
  --accent-color: #FF0070;
  --main__section-title-color: #FF0070;
}



/* Остальные стили */

