/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

/* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

.page.theme_dark {
  background-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --accent-font-color: var(--bg-color);
  --title-color: #db00ff;
  --font-color: #f1b2ce;
  --accent-color: #ff0070;
  --main__section-title-color: #ff0070;
  --hover-button: rgba(255, 0, 112, 1);
}

.page.theme_dark .header__rec {
  display: block;
}
