/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  max-width: calc(1024px - 40px);
  padding: 20px;

  background-image: var(--background-image);
  background-color: var(--bg-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  font-family: IBM Plex Mono;
}

.header {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto 1fr;
  margin-bottom: var(--section-margin-bottom);
  justify-content: center;
  align-items: flex-start;
}

.title-decor {
  background-color: var(--accent-color);
  color: rgba(0, 0, 40, 1);
}

.header__theme-menu {
  display: flex;
  place-content: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.header__title {
  color: var(--title-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);

  text-shadow: 4px 4px 0 var(--accent-color);
  margin-left: -20px;
}

.header__text {
  display: flex;
  width: 50%;
  height: fit-content;
  justify-self: end;
  align-self: center;
}

.main {
  color: var(--font-color);
}
