/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --background-image: url("../images/cover-image-dark.png");

  --bg-color: #000028;

  --title-color: #db00ff;
  --font-color: #f1b2ce;
  --accent-color: #ff0070;
  --accent-font-color: var(--bg-color);
  --main__section-title-color: var(--accent-color);

  --main-font-family: IBM Plex Mono, sans-serif;
  --hover-button: rgba(255, 0, 112, 0.4);
  --max-width: 984px;

  --section-margin-bottom: 60px;
  --main-section-margin-bottom: 80px;
  --mobile-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);

  --header-padding: 20px 0px;


  --main-section-margin-bottom: 80px;

  --header-footer-margin-bottom: 60px;
}

@media screen and (width <= 900px) {
  :root {
    --font-size: var(--mobile-font-size);
    --max-width: 728px;
  }
}

@media screen and (width <= 500px) {
  :root {
    --max-width: 335px;
    --section-margin-bottom: 40px;
    --header-padding: 10px;

    --main-section-margin-bottom: 50px;

    --header-footer-margin-bottom: 40px;

  }
}
