/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --background-image: url("../images/cover-image-dark.png");

  --bg-color: #000028;

  --title-color: #db00ff;
  --font-color: #f1b2ce;
  --accent-color: #ff0070;
  --accent-font-color: var(--bg-color);
  --main__section-title-color: var(--accent-color);

  --main-font-family: IBM Plex Mono, sans-serif;
  --hover-button: rgba(255, 0, 112, 0.4);
  --max-width: calc(1024px - 40px);
  /* --max-width: calc(768px - 40px); */
  --section-margin-bottom: 60px; /*desktop*/

  --mobile-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  /* --desktop-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem); */

  --font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);/*desktop font-size*/
  /* Переменные тёмной темы */
}

@media screen and (width <= 900px){

  :root{
  --font-size: var(--mobile-font-size);
  }
}
